<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Blog</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <h1>hello ,I'm 404,welcome to 404 house.</h1>
</body>
</html>